* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y: auto; 
}
header {
    background-color: transparent; 
    position:fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'VT323', monospace;
}

header img {
    height: 50px; 
}

nav.navBar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

ul.navBarList {
    display: flex;
    list-style: none; 
    gap: 20px; 
}

li.navBarAssets a {
    text-decoration: none; 
    color: #8a8787; 
    font-weight: bold;
    font-size: 26px;
    transition: color 0.3s ease; 
}

li.navBarAssets a:hover {
    color: #990099 ; 
}


li.navBarAssets a.active {
    color: rgb(240, 236, 232); 
    font-weight: bold;
}
