/* General reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y: auto; /* Restauramos el scroll vertical */
}
header {
    background-color: transparent; /* Color de fondo claro */
    position:fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}

header img {
    height: 50px; /* Ajusta el tamaño del logo */
}

nav.navBar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

ul.navBarList {
    display: flex;
    list-style: none; /* Elimina los bullets */
    gap: 20px; /* Espacio entre los elementos */
}

li.navBarAssets a {
    text-decoration: none; /* Quita subrayado */
    color: #8a8787; /* Color azul para los enlaces */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease; /* Transición suave */
}

li.navBarAssets a:hover {
    color: #990099 ; /* Color al pasar el ratón */
}

/* Items activos */
li.navBarAssets a.active {
    color: rgb(240, 236, 232); /* Color distintivo para el estado activo */
    font-weight: bold;
}
