/* gamePage.css */
.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 10rem;
}

/* Estilos de la página de juego */
.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.game-title {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 40px;
}

.game-mode-text {
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 30px
}

/* Layout de contenedores de botones */
.region-buttons {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.game-mode-buttons {
    margin: 3rem 0;
    text-align: center;
}

.game-mode-buttons .flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.start-button button {
    margin-top: 3rem;
    font-size: 2.5rem;  /* Hacer el texto más grande */
    padding: 1.5rem 4rem; /* Hacer el botón más grande */
    animation: playButtonBlink 1s infinite; /* Animación continua */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Efecto de brillo */
    transition: all 0.3s ease;
  }
  
  
  @keyframes playButtonBlink {
    0%, 100% {
      background-color: #420479;
      transform: scale(1);
    }
    50% {
      background-color: #7e22ce;
      transform: scale(1.15);
    }
  }

.capital-question-text, .flag-question-text {
    font-size: 30px;
}