.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 10rem;
}

.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.game-title {
    color: white;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 40px;
}

.game-mode-text {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px
}

.region-buttons {
    margin: 2rem 0;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.game-mode-buttons {
    margin: 3rem 0;
    text-align: center;
}

.game-mode-buttons .flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 5rem; 
    margin: 0 auto; 
    width: fit-content; 
}

.start-button button {
    margin-top: 3rem;
    font-size: 2.5rem;  
    padding: 1.5rem 4rem; 
    animation: playButtonBlink 1s infinite; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
  }
  
  
  @keyframes playButtonBlink {
    0%, 100% {
      background-color: #420479;
      transform: scale(1);
    }
    50% {
      background-color: #7e22ce;
      transform: scale(1.15);
    }
  }

.capital-question-text, .flag-question-text {
    font-size: 30px;
}

@media (max-width: 768px) {
    .controls-container {
      padding-top: 2rem;
    }
  
    .game-page {
      padding: 0 0.5rem;
    }
  
    .game-title {
      font-size: 30px;
      margin-bottom: 2rem;
    }
  
    .game-mode-text {
      font-size: 24px;
      margin-bottom: 1rem;
    }
  
    .region-buttons {
      margin: 1rem 0;
      gap: 0.5rem;
    }
  
    .game-mode-buttons .flex {
      padding-left: 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .start-button button {
      font-size: 2rem;
      padding: 1rem 3rem;
    }
  
    .capital-question-text, .flag-question-text {
      font-size: 24px;
    }
  }