/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-areas:
    "nav"
    "content";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

